# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*-dbg
*-opt

#Resu
*.h5
*.xmf 
# *.med 
# !*/MESH/*.med

#FEMuS_applications
bin/*
USER_APPL/*
template_appl/*
doc/*
*/obj/*
applications/gencase/gencase_2d/gencase_2d
applications/gencase/gencase_3d/gencase_3d
applications/gencase/gencase_2d/src
applications/gencase/gencase_3d/src
solvers/ln_solvers/*

#Other
*.log
.directory
*.depend
*.kdev4
*/.kdev4/*
src/.directory
src/.kdev_include_paths
